*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header 
{
    padding: .5rem;
    text-align: center;
}

nav 
{
    padding: .2rem;
    display: flex;
}

main 
{
    width: 1650px;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: 
        'images sliders'
        'images sliders'
        'presets sliders'
    ;
    grid-gap: 10px;
    padding: 1rem;
    grid-template-columns: 3fr 1fr;
    backdrop-filter: blur(20px);
    background: rgba( 255 ,255, 255, .2);
    border-radius: 30px;
}

h2
{
    margin: 5px 0;
}

h4 
{
    display: inline-block;
}

figure img
{
    width: 1375px;
    height: 750px;
}



.leftArr,
.rightArr
{
    position: absolute;
    z-index: 2;
    color: crimson;
    background-color: transparent;
    cursor: pointer;
    font-size: 4em;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}



.site-wrapper 
{
    background:  linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    min-height: 100vh;
}

.images 
{
    grid-area: images;
    position: relative;
    text-align: center;
}

.image-container 
{
    display: none;
}

.sliders 
{
    grid-area: sliders;
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-radius: 20px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
    text-align: center;
}

.slider-content 
{
    padding: 2em;
}

.presets 
{
    grid-area: presets;
    border: 1px solid rgba(255, 255, 255, 0.103);
    border-radius: 20px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 255, .2);
    padding: .5rem;

}

.active 
{
    display: block;
}


.rightArr
{
    right: 0;
}

.sliders:hover .leftArr
{
    display: none;
}

.sliders:hover .rightArr
{
    display: none;
}

.preset-Btn
{
    border: none;
    background-color: rgb(255, 140, 74);
    font-size: 1.4rem;
    border-radius: 15px;
    width: 25px;
    color: #fff;
    outline: none;
}

.preset-Btn:focus
{
    transform: rotate(45deg);
    background-color: crimson;
}